    body {
        --header-height: 50px;
        margin: var(--header-height) 0 0 0;
        font-family: 'Muli', sans-serif;
        display: flex;
        min-height: 100vh;
        flex-direction: row;
        margin: 0;
        justify-content: center;
        text-decoration: none;
        text-decoration-color: deepskyblue;
    }

    html {
        background-color: #313233;
        font-family: 'Muli', sans-serif;
        height: 100%;
    }

    * {
        box-sizing: border-box;
    }

    .col-1 {
        background: #D7E8D4;
        flex: 1;
    }

    .btn-edit {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
    }

    .col-2 {
        display: flex;
        flex-direction: column;
        flex: 5;
        justify-content: center;
    }

    .preload * {
        transition: none !important;
    }

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .right_bar {
        background-color: deepskyblue;
        float: right;
        height: 80vh;
    }

    .main-prof {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100vh;
        width: 70vw;
        background-color: #2c2f33;
        padding: 15px 3px;
    }

    .cards {
        /*FLEX STUFF*/
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 100vh;
        width: 70vw;
        background-color: #2c2f33;
        padding: 15px 3px;
        color: #cfc6c6;
    }

    .cards a {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .table-row {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 10px;
        width: 90%;
        min-height: 125px;
        max-height: 125px;
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
        overflow: hidden;
        border: #7289da 1px solid;
        color: #cfc6c6;
    }


    .cardclasses {
        margin: 10px;
        width: 90%;
        min-height: 70px;
        max-height: 70px;
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
        overflow: hidden;
        text-indent: 50px;
        border: #7289da 1px solid;
        color: #cfc6c6;
    }

    .course-name-science {
        background-color: #3b9221;
        color: #fff;
        padding: 10px;
        padding-top: 0;
        min-width: 150px;
    }

    .course-name-eng {
        background-color: #2677ad;
        color: #fff;
        padding: 10px;
        padding-top: 0;
        min-width: 150px;
        max-width: 150px;
    }

    .course-name-social {
        background-color: #922130;
        color: #fff;
        padding: 10px;
        padding-top: 0;
        min-width:150px;
        max-width: 150px;
    }

    .course-name-art {
        background-color: #2A265F;
        color: #fff;
        padding: 10px;
        padding-top: 0;
        min-width: 150px;
        max-width: 150px;
    }

    .course-name {
        background-color: #257092;
        color: #fff;
        padding: 10px;
        padding-top: 0;
        min-width: 150px;
        max-width: 150px;
    }

    .points {
        border-left: #7289da solid 1px;
        margin-left: 20px;
        padding: 10px;
        width: 10%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .frame {}

    .frame h3 {
        font-size: small;
    }

    #PTS {
        font-size: 22px;
        text-decoration: underline;
        text-decoration-color: deepskyblue;
    }

    #PTS-G {
        font-size: 22px;
        text-decoration: underline;
        text-decoration-color: deepskyblue;
    }

    .course-info {
        margin-left: 20px;
        padding: 0px;
        position: relative;
        width: 80%;
        color: #cfc6c6;
    }
    .coursebox {
        margin-left: 20px;
        padding: 0px;
        position: relative;
        width: 30%;
       
        color: #cfc6c6;
    }

    .course-info h4 {
        text-decoration: underline;
        text-decoration-color: deepskyblue;
    }

    .card:hover {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.01);
    }

    #done_box {
        float: right;
    }

    .collapsible {
        grid-row: 1/2;
        justify-self: end;
        color: #cfc6c6;
        cursor: pointer;
        transform: scale(2.0);
        background-color: #eee;
        cursor: pointer;
        padding: 18px;
    }

    .card_info {
        font-size: 15px;
    }

    .class_title {
        font-size: 30px;
        font-weight: 400;
    }

    .fa-solid {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
    }

    .nav:hover,
    nav.nav.expanded {
        width: 250px;
        overflow: visible;
        transition: all .1s linear;
    }

    .nav {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0;
        background: deepskyblue;
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100vh;
        left: 0;
        width: 60px;
        overflow: hidden;
        z-index: 9999;
        font-weight: bold;
    }

    .nav > .out {
        margin: 10px 0;
    }

    .nav .nav_items {
        position: relative;
        display: block;
        width: 250px;
    }

    .nav .nav_items > a {
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: black;
        text-decoration: none;
    }

    .nav .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        text-align: center;
        vertical-align: middle;
    }

    .nav .n-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 190px;
    }

    .nav > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .nav_items:hover {
        color: red;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    .nav ul,
    .nav_items {
        outline: 0;
        margin: 0;
        padding: 0;
    }

    .nav .nav_items:hover > a {
        color: red;
    }

    .nav_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.0s;
    }

    .nav--open .nav_overlay {
        visibility: visible;
        opacity: 1;
    }

    header {
        background: #292727;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #cfc6c6;
        height: bottom;
        padding: 1em;
        border-bottom: deepskyblue solid 1px;
    }

    header {
        border-top: #7289da solid 1px;
    }

    aside {
        flex: 6;
        flex: 14vw;
    }

    .personal-info {
        padding: 3em;
        border: 0;
        border-radius: 3px;
        text-indent: 70px;
        transition: all .3s ease-in-out;
    }

    .personal-info table {
        background-color: #555151;
        padding: 50px;
        color: #ccc;
    }

    .personal-info td,
    th {
        text-align: left;
        padding: 10px;
        margin: 10px;
    }

    .row {
        background-color: deepskyblue;
        display: flex;
        justify-content: center;
        border-radius: 2%;
    }

    .form-control {}

    dl {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    dl dt,
    dl dd {
        float: left;
        padding: 10px 5px;
        margin: 2px;
        border-bottom: 1px solid #fff;
    }

    dl dt {
        width: 40%;
        padding-right: 5px;
        font-weight: bold;
    }

    dl dt:after {
        content: ":";
    }

    dl dd {
        width: 70%;
    }

    .avatar-img {
        vertical-align: middle;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: #292727 2px solid;
    }

    .card-avatar-img {
        vertical-align: middle;
        width: 30%;
        height: 30%;
        border-radius: 50%;
        border: #292727 2px solid;
    }

    .prof-card-pic {
        background-color: deepskyblue;
        color: #fff;
        padding: 10px;
        max-width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .NameArea {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        text-decoration: underline;
        text-decoration-color: deepskyblue;
        padding-right: 10px;
        color: #cfc6c6;
    }

    .prof-card {
        margin: 10px;
        width: 90%;
        min-height: 50px;
        max-height: 50px;
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
        overflow: hidden;
        border: #fff 1px solid;
    }

    .prof-role {
        border-left: deepskyblue solid 1px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 10px;
    }

    .profile-img {
        display: flex;
        justify-content: center;
        padding: 3em;
        border-radius: 3px;
    }

    .assigmentArea {
        border-left: #fff solid 1px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: underline;
        text-decoration-color: deepskyblue;
        color: #cfc6c6;
    }

    .dateArea {
        border-left: #7289da solid 1px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 10px;
        color: #cfc6c6;
    }

    .t-cards {
        /*FLEX STUFF*/
        display: flex;
        flex-direction: column;
        justify-self: end;
        justify-content: start;
        align-items: center;
        min-height: 100vh;
        width: 55vw;
        background-color: #2c2f33;
        padding: 15px 3px;
    }

    .t-dash {
        display: flex;
        flex-direction: row;
    }

    .t-nav {
        background: deepskyblue;
        flex: 1;
        width: 10vw;
        color: #cfc6c6;
    }

    .t-nav_item {
        display: flex;
        align-items: center;
        color: #cfc6c6;
        font-weight: bold;
        font-size: 17px;
        text-decoration: none;
        padding: 15px 30px;
        background: transform 0.2s;
    }

    .t-nav_item:hover {
        color: deepskyblue;
    }

    .t-cards {
        background-color: #2c2f33;
        flex: 4;
    }

    .class-card {
        margin: 10px;
        width: 90%;
        min-height: 125px;
        max-height: 125px;
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
        overflow: hidden;
    }

    .form-temp {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 100vh;
        width: 70vw;
        background-color: #2c2f33;
        padding: 15px 3px;
    }

    .message-area {
        display: flex;
        flex-direction: column;
        border: #292727 1px solid;
        margin: 10px;
        padding: 20px;
        width: 50vw;
        border-radius: 10px;
        background-color: deepskyblue;
    }

    .upload-area {
        display: flex;
        flex-direction: column;
        border: #292727 1px solid;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        background-color: deepskyblue;
        width: 50vw;
    }

    .point-area {
        display: flex;
        flex-direction: column;
        border: #292727 1px solid;
        margin: 10px;
        border-radius: 10px;
        width: 50vw;
        padding: 20px;
        background-color: deepskyblue;
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical
    }

    input {
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=file] {
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
    }

    input:hover {}

    .post-area {
        display: flex;
        justify-content: center;
    }

    .btn {
        background-color: #292727;
        color: #ccc;
        padding: 12px 20px;
        border: deepskyblue 2px solid;
        font-size: large;
        border-radius: 4px;
        cursor: pointer;
        width: 50vw;
    }

    .btn:hover {
        background-color: red;
        color: #292727;
    }

    .prof-classes table {
        border-collapse: collapse;
        width: 80%;
        padding: 20px;
        margin: 40px;
    }

    .prof-classes {
        display: flex;
        justify-content: center;
    }

    .prof-classes td,
    th {
        border: 2px solid #fff;
        color: #cfc6c6;
        text-align: left;
        padding: 10px;
        margin: 10px;
    }

    .prof-classes tr {
        padding: 10px;
        margin: 10px;
        color: deepskyblue;
    }

    /* unvisited link */
    a:link {
        color: white;
        cursor: pointer;
        text-decoration: underline;
    }

    /* visited link */
    a:visited {
        color: white;
    }

    /* mouse over link */
    a:hover {
        color: limegreen;
    }

    /*--------------------------*/

    .profile {
        margin: 2em auto;
    }

    .profile h1 {
        font-weight: 100;
    }

    .profile a {
        color: #7289da;
    }

    .profile a:hover {
        color: #7289da;
    }

    .profile {
        max-width: 500px;
        border: 1px solid #e1e1e1;
        border-radius: 20px;
        padding: 2em;
        margin: 1em;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        position: relative;
    }

    .profile figure {
        margin: 0;
    }

    .class-head {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        margin: 0;
        padding: 0;
        color: #ccc;
        text-decoration-color: #7289da;
    }

    .profile figure img {
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        border: #292727 5px solid;
        padding: 10px;
        box-shadow: 0px 0px 20px rgba(21, 21, 21, .15);
    }

    .profile header h1 {
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .profile main {
        display: none;
    }

    .profile dl {
        display: block;
        width: 100%;
    }

    .profile dl dt,
    .profile dl dd {
        float: left;
        padding: 8px 5px;
        margin: 0;
        border-bottom: 1px solid #e1e1e1;
    }

    .profile dl dt a,
    .profile dl dd a {
        padding-right: 5px;
    }

    .profile dl dt {
        width: 30%;
        padding-right: 10px;
        font-weight: bold;
    }

    .profile dl dt:after {
        content: ":";
    }

    .profile dl dd {
        width: 70%;
    }

    label {
        display: block;
        cursor: pointer;
    }

    @media screen and (max-width: 520px) {
        .profile {
            padding: 1em;
            margin: 1em;
        }

        .profile img {
            max-width: 100%;
            height: auto;
        }

        .profile dl,
        .profile dl dt,
        .profile dl dd {
            display: block;
            width: 100%;
            float: none;
        }

        .profile dl dt {
            border-bottom: none;
        }

        .profile dl dd {
            margin-bottom: 10px;
        }

        .profile .toggle {
            top: 15px;
            left: 15px;
        }
    }
