/*Style the background <link rel="stylesheet" type="text/css" href="styler1.css">*/
.topBox {
    
}

.loginBox {
    
}

h1 {
    text-align: center;
}

.sideMenu {
    width: 100px; /* Set a width if you like */
}

/*Style the side menu*/
.sideMenu a {
    background-color: white;

    /*text color*/
    color: blue;
    outline: none;
    display: block;
    padding: 12px;
    text-decoration: none;
}

/*Style the link that the mouse is over*/
.sideMenu a:hover {
  background-color: lightgray;
}

